.icon-link {
    height: 60;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    margin: 0 20;

    .icon {
        font-size: 20;
        min-width: 20;
        color: $lightgray;
        margin-right: 5;
        height: auto;
    }

    .text {
        font-size: 16;
        color: $lightgray;
    }    
}