$background: #fbfef9;
$darkgray: #191923;
$lightgray: #a2a2a2;
$darkgrey: $darkgray;
$lightgrey: $lightgray;
$blue01: #0e79b2;
$blue02: #3c78d8;
$blue03: #30bcff;
$blue04: #6b99e3;

$danger: #d9534f;
$white: #ffffff;
$white-dark: #ebebeb;
$black: #000000;
$danger-light: #faebea;
$lightgreen: #22dd22;
$darkgreen: #009900;
$yellow: #ffd647;

$font-large: 18;
$font-normal: 16;
$font-small: 14;

$button-radius: 6;
