<Page>

    <FlexboxLayout *ngIf="ciphers"
        flexDirection="column"
        width="100%"
        height="100%"
        class="modal">

        <ScrollView height="auto"
            width="100%"
            orientation="vertical">

            <StackLayout orientation="vertical"
                padding="0"
                margin="0"
                width="100%"
                height="auto">

                <Form [formGroup]="form">

                    <!-- Warning message, show only if the loaded vault is empty (meaning it's a new user) -->
                    <CardView *ngIf="!gotVault"
                        class="cardview"
                        [class.tablet]="isTablet">
                        <StackLayout class="cardview-inner">

                            <Label textWrap="true"
                                class="h5"
                                [text]="'masterpass-modal.first-run' | translate">
                            </Label>

                            <Label textWrap="true"
                                marginTop="10"
                                class="h5 danger"
                                textAlignment="center"
                                [text]="'masterpass-modal.warning' | translate">
                            </Label>
                        </StackLayout>
                    </CardView>

                    <!-- Master Password selector -->
                    <CardView class="cardview"
                        [class.tablet]="isTablet">
                        <StackLayout class="cardview-inner">
                            <ns-form-element
                                [hint]="'masterpass-modal.masterpass-hint' | translate"
                                [error]="form.controls.masterPass.dirty ? (form.controls.masterPass?.errors?.message | translate) : null"
                                [title]="'masterpass-modal.masterpass' | translate">

                                <GridLayout rows="auto"
                                    columns="*,auto">

                                    <TextField class="form-element"
                                        col="0"
                                        row="0"
                                        width="100%"
                                        formControlName="masterPass"
                                        [class.error]="form.controls.masterPass.dirty && !!form.controls.masterPass?.errors"
                                        [secure]="masterPassSecure"
                                        autocorrect="false"
                                        autoCapitalizationType="none"
                                        returnKeyType="done"></TextField>

                                    <FlexboxLayout (tap)="masterPassSecure = !masterPassSecure"
                                        flexDirection="column"
                                        justifyContent="center"
                                        alignItems="flex-end"
                                        width="30"
                                        col="1"
                                        row="0"
                                        orientation="vertical">
                                        <Label class="fa form-password-eye"
                                            padding="0"
                                            margin="0"
                                            row="0"
                                            col="1"
                                            [text]="(masterPassSecure ? 'fa-eye' : 'fa-eye-slash') | fonticon"></Label>
                                    </FlexboxLayout>

                                </GridLayout>
                            </ns-form-element>
                        </StackLayout>
                    </CardView>

                    <!-- Cipher selector - show only if vault is empty or being modified -->
                    <CardView class="cardview"
                        [class.tablet]="isTablet"
                        *ngIf="!!ciphers && (!gotVault || modifyPass)">

                        <StackLayout class="cardview-inner">

                            <ns-form-element
                                [hint]="currentCipher.description"
                                [title]="'masterpass-modal.cipher' | translate">
                                <ns-form-select
                                    formControlName="cipher"
                                    (change)="cipherChange($event)"
                                    [title]="'masterpass-modal.cipher-title' | translate"
                                    [items]="cipherSelect"></ns-form-select>
                            </ns-form-element>

                            <!-- Stars -->
                            <FlexboxLayout marginTop="5"
                                [marginLeft]="isTablet ? '29%' : 0"
                                marginTop="10"
                                flexDirection="row"
                                justifyContent="flex-start"
                                alignItems="center"
                                horizontalAlignment="left">
                                <Label class="h6"
                                    [text]="'Safety rating:' | translate"
                                    marginRight="10"></Label>
                                <Label *ngFor="let x of [1,2,3,4,5]"
                                    [class.fas]="x <= currentCipher?.stars"
                                    [class.fa]="x > currentCipher?.stars"
                                    [text]="'fa-star' | fonticon"></Label>
                            </FlexboxLayout>

                        </StackLayout>
                    </CardView>

                </Form>

                <!-- Button bar -->
                <CardView class="cardview"
                    [class.tablet]="isTablet">
                    <StackLayout class="cardview-inner">
                        <Button class="form-button"
                            (tap)="submitForm()"
                            [isEnabled]="!form.invalid"
                            [text]="'general.ok-button' | translate"></Button>
                        <Button class="form-button"
                            (tap)="cancel(modifyPass ? null : 'masterpass-modal.cancel-text')"
                            [text]="'general.cancel-button' | translate"></Button>
                    </StackLayout>
                </CardView>

            </StackLayout>

        </ScrollView>

    </FlexboxLayout>
</Page>
