<GridLayout rows="auto,30,auto"
    columns="auto,*"
    class="form-icon-selector">

    <!-- Currently selected icon -->
    <StackLayout class="group-wrapper"
        row="0" col="0"
        colSpan="3"
        width="100%">

        <FlexboxLayout class="form-icon-wrapper"
            [style.background]="icon?.background">

            <Label *ngIf="icon && !spinner"
                class="collection-icon"
                [ngClass]="icon?.class"
                [style.color]="icon?.color"
                [text]="('fa-' + icon?.name) | fonticon"></Label>

            <ActivityIndicator
                *ngIf="spinner"
                busy="true"
                class="spinner-small">
            </ActivityIndicator>

        </FlexboxLayout>
    </StackLayout>

    <!-- Current icon's name -->
    <Label row="0" col="0"
        width="40%"
        class="small-label"
        textWrap="true"
        [text]="icon?.label">
    </Label>

    <!-- Color selectors -->
    <FlexboxLayout class="group-wrapper"
        flexDirection="column"
        alignItems="flex-end"
        justifyContent="flex-end"
        row="0" col="1">

        <StackLayout (tap)="selectColor(0)"
            class="color-selector"
            marginBottom="10"
            [style.background]="icon?.color"></StackLayout>

        <StackLayout (tap)="selectColor(1)"
            class="color-selector"
            [style.background]="icon?.background"></StackLayout>
    </FlexboxLayout>

    <!-- Category selector & Search bar -->
    <FlexboxLayout row="1"
        col="0" colSpan="3"
        flexDirection="row"
        justifyContent="space-between"
        alignItems="flex-end">

        <FlexboxLayout [ngSwitch]="!!searchString?.length"
            class="category-selector">

            <!-- Selector -->
            <PickerField *ngSwitchCase="false"
                [pickerTitle]="'icon-selector.category-title' | translate"
                [selectedValue]="currentCategory"
                textField="text"
                valueField="value"
                modalAnimated="true"
                class="category-picker"
                [androidCloseButtonIcon]="'ic_delete'"
                (pickerClosed)="categoryChanged($event)"
                [items]="categories">

                <ng-template let-item="item">
                    <StackLayout class="form-select">
                        <Label class="form-select-item"
                            [class.selected]="item.value === currentCategory"
                            [text]="item.text"></Label>
                    </StackLayout>
                </ng-template>
            </PickerField>

            <!-- "Search results" - tap to return to the last category -->
            <Label *ngSwitchCase="true"
                class="search-results"
                (tap)="changeIconCategory(currentCategory)"
                [text]="'icon-selector.search-results' | translate:{ icons: icons.length }">
            </Label>

            <!-- Caret -->
            <Label class="fas caret-down category-picker-down"
                width="15"
                zIndex="100"
                [text]="'fa-caret-down' | fonticon"></Label>

        </FlexboxLayout>

        <StackLayout (tap)="searchIcon()"
            orientation="horizontal"
            verticalAlignment="center">
            <Label class="fa search-icon"
                [class.active]="!!searchString"
                [text]="'fa-search' | fonticon"></Label>
            <Label class="small-label"
                [class.active]="!!searchString"
                [text]="searchString || ('form-icon-selector.search' | translate)"></Label>
        </StackLayout>

    </FlexboxLayout>

    <!-- Scrolling icon gallery -->
    <ScrollView orientation="horizontal"
        row="2" col="0"
        colSpan="3"
        #scrollView
        class="scroller-wrapper">

        <!-- Never use a StackLayout directly inside a ScrollView! -->
        <FlexboxLayout *ngIf="!!icons.length"
            padding="5"
            flexDirection="row"
            alignItems="center"
            justifyContent="flex-start"
            width="auto">

            <FlexboxLayout *ngFor="let i of icons"
                (tap)="changeIcon(i)"
                class="scroller-icon-wrapper"
                [class.selected]="i?.name === icon?.name">

                <Label [ngClass]="i?.class"
                    [text]="('fa-'+i.name) | fonticon"></Label>
            </FlexboxLayout>

        </FlexboxLayout>

    </ScrollView>

</GridLayout>
